@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-br from-indigo-100 to-white text-slate-800 font-inter;
}

.dark {
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity)); /* slate-900 */
}
.dark .shadow {
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
}
